@import url("whitespace-reset.css");

*{
  padding: 0;
  margin: 0;
}

html {
  font: 300 13px "Open Sans", Arial, "sans-serif";
}

/* header {
  width: 100%;
  position: fixed;
  z-index: 1;
} */

body {
  color: #444;
  font: 13px;
  border-top: 10px solid #F5F5F5;
}

nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 15px 0;
  justify-items: center;
  column-gap: 5px;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #444;
}

nav a:hover {
  text-decoration: underline;
}

/* main {
  width: 1570px;
  background-color: black;
  margin: 0 auto;
} */

#hero {
  background: url(images/front.jpg) center no-repeat;
  height: 428px;
  text-align: center;
  /* padding-top: 115px; */
}

#hero img {
  padding-top: 150px;
}

h1 {
  font-size: 72px;
  color: #fff;
  font-weight: normal;
}

h2 {
  padding-top: 74px;
  font-size: 48px;
  font-weight: 200;
}

h3 {
  color: #008000;
  font-size: 24px;
  padding: 31px 0 11px 0;
}

h4 {
  font-size: 32px;
  color: #fff;
  font-weight: normal;
}

h5 {
  font-size: 16px;
}

#tickets > h2 {
  padding-bottom: 29px;
}

#tickets > p {
  padding-bottom: 20px;
}

p {
  font-size: 16px;
}

main {
  margin: 0 30px;
}

article {
  border-bottom: 1px solid #EEE;
  text-align: center;
}

/* button {
  background: #008000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 232px;
  height: 40px;
  border: none;
  margin: 12px 0 69px 0;
}

button:hover {
  background: #016801;
} */

.speakers_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  width: 872px;
  margin: 0 auto;
  padding-top: 39px;
  column-gap: 15px;
  row-gap: 12px;
  padding-bottom: 67px;
}

.speakers_wrapper figure {
  border: 1px solid #EEE;
  min-height: 379px;
  width: 281px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

#speakers img {
  width: 100%;
  height: auto;
}

#speakers > p {
  font-weight: 100;
}

#schedule {
  width: 957px;
  margin: 0 auto;
}

table {
  padding: 0 13px;
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: left;
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
}

td > img {
  width: auto;
  height: 107px;
}

tr {
  border-top: 1px solid #EEE;
}

.schedule_table h3 {
  font-size: 24px;
  color: #444;
  font-weight: normal;
  padding: 0;
  display: inline-block;
}

.schedule_table h4 {
  font-size: 18px;
  color: #008000;
  font-weight: bold;
  margin-top: 8px;;
}

td:nth-of-type(3) {
  text-align: right;
}

.tag {
  font-size: 7px;
  display: inline-block;
  background-color: #EEE;
  padding: 1px 4px;
  border: 1px solid #AAA;
  
}

#location, #call_for_papers, #sponsors {
  width: 957px;
  margin: 0 auto;
  padding-bottom: 62px;
}

#location > h5 {
  padding-top: 50px;
}

#location > h5, h5 + p {
  text-align: left;
}

#location > p, #call_for_papers > p {
  padding-bottom: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
}

#call_for_papers > h2 {
  padding-bottom: 37px;
}

#button_container {
  text-align: left;
  font-weight: 300;
}

#button_container > p{
  padding-bottom: 17px;
}

a.button {
  background-color: #008000;
  color: #fff;
  font-size: 15px;
  padding: 12px 30px;
}

a.button:hover {
  text-decoration: none;
  background-color: #016801;
}

#button_container > p:nth-of-type(2) {
  padding-bottom: 17px;
  padding-top: 17px;
}

a {
  color: #008000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* #platinum_container, #support_container {
  width: 957px;
  margin: 0 auto;
} */

#platinum_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-template-areas: 
  "platinum-1 platinum-2 platinum-3 platinum-3 ";
}

/* #gold_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "gold-1 gold-2 . . "
  "gold-3 gold-4 . . "
  "gold-5 gold-6 . . "
  "gold-7 . . . ";
}

#silver_container {
  display: grid;
  grid-template-columns:wait repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "silve-1 silver-2 silver-3 . ";
}*/

#support_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  grid-template-areas: 
  "support-1 support-2 support-3 support-4";
}

.title {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

#platinum-1 {
  grid-area: platinum-1;
}

#platinum-2 {
  grid-area: platinum-2;
}

#platinum-3 {
  grid-area: platinum-3;
}

/* #silver-1 {
  grid-area: silver-1;
}
#silver-2 {
  grid-area: silver-2;
}
#silver-3 {
  grid-area: silver-3;
}

#gold-1 {
  grid-area: gold-1;
}

#gold-2 {
  grid-area: gold-2;
}

#gold-3 {
  grid-area: gold-3;
}

#gold-4 {
  grid-area: gold-4;
}

#gold-5 {
  grid-area: gold-5;
}

#gold-6 {
  grid-area: gold-6;
}

#gold-7 {
  grid-area: gold-7;
}*/

#support-1 {
  grid-area: support-1;
}

#support-2 {
  grid-area: support-2;
}

#support-3 {
  grid-area: support-3;
}

#support-4 {
  grid-area: support-4;
}

/* #platinum_container > img {
  width: 50%
} */

#support_container a > img {
  width: 180px;
  height: auto;
}

/* #support-2 {
  width: 240px;
  height: 53%
} */

#support_container > a {
  width: 240px;
  height: 53px;
}