@import url("whitespace-reset.css");

body {
  background: #2f2280 url("bg_body.gif");
  font: 400 20px 'Nunito Sans', sans-serif;
}

header {
  width: 860px;
  margin: 0 auto;
  display: flex;
}

main {
  background: #ffffff;
  width: 1000px;
  margin: 0 auto;
  padding: 70px 0;
}

article {
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  letter-spacing: 0.26px;
}

article:first-of-type {
  padding-bottom: 130px;
  
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 29.880px auto 0 auto;
}

h2 {
  font-size: 24px;
  color: #3e98b2;
  font-weight: 400;
  letter-spacing: .75px;
  margin: 20px auto 0 auto;
}

h1::before {
  content: "\2022";;
  color: black;
  padding: 0 26px 0 24px;
  font-size: 28px;
  vertical-align: 5px;
}

h1::after {
  content: "\2022";;
  color: black;
  padding: 0 26px 0 24px;
  font-size: 28px;
  vertical-align: 5px;
}

p {
  line-height: 28px;
  margin: 22px 0 0 0;
  text-align: center;
}

footer {
  width: 1000px;
  background: #e7e7e7;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

footer > img {
  padding: 33px 62px;
  margin: 0;
  align-self: center;
}

.logo {
  margin: 159px auto 93px auto;
}